@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul{
  list-style: none;
}

.links{
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-right: 16px;
}

a{
  text-decoration: none;
  color: azure;
}

.header{
  background-color: darkslategray;
  color: azure;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.herosection{
  color: azure;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0px 100px 0px;
}

.herocolumn{
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 75px;
}

.signupbutton{
  color: white;
  background-color: dodgerblue;
  max-width: 100px;
  height: 22px;
  border-radius: 5px;
  border: none;
}

img{
  width: 350px;
  height: auto;
}