@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul{
  list-style: none;
}

.links{
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-right: 16px;
}

a{
  text-decoration: none;
  color: azure;
}

.header{
  background-color: darkslategray;
  color: azure;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.herosection{
  color: azure;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0px 100px 0px;
}

.herocolumn{
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 75px;
}

.signupbutton{
  color: white;
  background-color: dodgerblue;
  max-width: 100px;
  height: 22px;
  border-radius: 5px;
  border: none;
}

img{
  width: 350px;
  height: auto;
}

.maincontent{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainconttitle{
  margin: 75px 0 0;
  font-size: xx-large;
}

.cardcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 100px 50px 100px;
}

.card{
  margin: 15px;
  text-align: center;
  max-width: 20%;
}

.cardimg{
  border: 5px solid blue;
  border-radius: 9px;
  width: 150px;
  height: 150px;
}

.card .cardtxt{
  margin-top: 7px;
}

.quotesection{
  background-color: lightgray;
  padding: 150px 250px 150px 250px;
}

.quotesection .inspirationquote{
  font-size: xx-large;
}

.quotesection .quoter{
  font-size: x-large;
  text-align: end;
  font-weight: 750;
}